{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'browser/toggle-bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'browser/toggle-bootstrap-dark.min.css' %}">
    <link rel="icon" type="image/png" href="{% static 'browser/logo.png' %}" />
    <style>
        textarea {
            resize: horizontal;
        }
        button {
            border: none;
            background: none;
        }

        nav img {
            max-height: 40px;
            margin-right: 5px;
        }
    </style>
    {% block head %}
    {% endblock head %}
</head>
<body class="bootstrap-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-themed">
                    <img src="{% static 'browser/logo.png' %}" alt="Logo"/>
                    <a class="navbar-brand" href="/">SB Browser</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                        </ul>
                    </div>
                    <button class="btn btn-secondary" id="css_toggle" title="Dark mode toggle">Dark/Light</button>
                </nav>
            </div>
        </div>
        {% block body %}
        {% endblock %}
        <div class="row">
            <div class="col">
                Last update: {{ updated }} All times UTC
            </div>
            <div class="col">
                <a href="https://github.com/Lartza/SBbrowser">SBbrowser</a> &copy; {% now 'Y' %} Lartza, licensed under AGPLv3. SponsorBlock data is used under CC BY-NC-SA 4.0. More details: <a href="https://sponsor.ajay.app/">https://sponsor.ajay.app/</a>
            </div>
        </div>
    </div>
    {% bootstrap_javascript jquery="slim" %}
    <script src="{% static 'browser/sbtools.js' %}"></script>
</body>
</html>
