{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "browser/base.html" %}
{% load browser_extras %}
{% block head %}
    <title>Username | SB Browser</title>
{% endblock head %}
{% block body %}
    <div class="row">
        <div class="col-auto mt-1">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">Username:<br>{{ username }}</li>
                <li class="list-group-item">Unique users:<br>{{ uniques_count }}</li>
                <li class="list-group-item">Submissions:<br>{{ submissions }}</li>
                <li class="list-group-item">Ignored submissions:<br>{{ ignored }} ({{ percent_ignored }}%)</li>
                <li class="list-group-item">Views:<br>{{ views }}</li>
                <li class="list-group-item">Ignored views:<br>{{ ignored_views }} ({{ percent_ignored_views }}%)</li>
            </ul>
        </div>
        <div class="col-auto mt-1">
            <ul class="list-group">
            {% for userid in uniques %}
                {% is_vip userid as vip %}
                <li class="list-group-item"><a href="/userid/{{ userid }}/">{{ userid }}</a>{% if vip %}<span class="vip" title="This user is a VIP">👑</span>{% endif %}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% include "browser/table.html" %}
{% endblock body %}