{% extends "browser/base.html" %}
{% block head %}
    <title>Username | SB Browser</title>
{% endblock head %}
{% block body %}
    <div class="row">
        <div class="col-4">
            <ul class="list-group list-group-horizontal mt-1">
                <li class="list-group-item">Unique users: {{ uniques }}</li>
                <li class="list-group-item">Submissions: {{ submissions }}</li>
                <li class="list-group-item">Ignored: {{ ignored }}</li>
            </ul>
        </div>
    </div>
    {% include "browser/table.html" %}
{% endblock body %}