{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "browser/base.html" %}
{% load django_bootstrap5 %}
{% block head %}
    <title>{{ videoid }} | SB Browser</title>
{% endblock head %}
{% block body %}
    <div class="row mt-2">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="ratio ratio-16x9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ videoid }}?rel=0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-auto">
            {% if not submissions %}
                {% bootstrap_alert 'No submissions exist for this video, check that the Video ID is correct and when the database was last updated.' dismissible=False extra_classes='mb-1' %}
            {% endif %}
            <ul class="list-group">
                <li class="list-group-item">Submissions: {{ submissions }}</li>
                <li class="list-group-item">Ignored: {{ ignored }} <span title="Segments that are also not sent to users, but don't count as ignored">+ {{ hidden }} ❓</span></li>
                <li class="list-group-item">Locked skips: {% if lockcategories_skip %}
                        {% for lock in lockcategories_skip %}
                            <span title="{{ lock.reason }}">{{ lock.category }}</span>
                        {% endfor %}
                    {% else %}
                        <span>—</span>
                    {% endif %}
                </li>
                <li class="list-group-item">Locked mutes: {% if lockcategories_mute %}
                        {% for lock in lockcategories_mute %}
                            <span title="{{ lock.reason }}">{{ lock.category }}</span>
                        {% endfor %}
                    {% else %}
                        <span>—</span>
                    {% endif %}</li>
                <li class="list-group-item">Locked full: {% if lockcategories_full %}
                        {% for lock in lockcategories_full %}
                            <span title="{{ lock.reason }}">{{ lock.category }}</span>
                        {% endfor %}
                    {% else %}
                        <span>—</span>
                    {% endif %}</li>
                <li class="list-group-item"><a href="https://youtu.be/{{ videoid }}">YouTube 🔗</a></li>
            </ul>
        </div>
    </div>
    {% include "browser/table.html" %}
{% endblock body %}