{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "browser/base.html" %}
{% block head %}
    <title>{{ videoid }} | SB Browser</title>
{% endblock head %}
{% block body %}
    <div class="row">
        <div class="col-4">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ videoid }}?rel=0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-4">
            <ul class="list-group mt-1">
                <li class="list-group-item">Submissions: {{ submissions }}</li>
                <li class="list-group-item">Ignored: {{ ignored }}</li>
                <li class="list-group-item"><a href="https://www.youtu.be/{{ videoid }}">YouTube 🔗</a></li>
            </ul>
        </div>
    </div>
    {% include "browser/table.html" %}
{% endblock body %}